$font-borel: "Borel", sans-serif
$font-inclusivesans: "InclusiveSans", sans-serif
$font-karrik: "Karrik", sans-serif

$heading-font-family: $font-karrik
$body-font-family: $font-inclusivesans

$h1-size-desktop: pxToRem(70)
$h1-size: pxToRem(30)

$h2-font-family: $font-borel
$h2-size-desktop: pxToRem(20) 


$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$color-accent: #C2E8CB
$color-background: #FFFAF3
$color-texte-alt: #327E6A
$color-background-alt: #C2E8CB
$color-footer: #C2E8CB
$color-text: #0B422C

